/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:after { content: ""; display: table;} 
.group:after { clear: both;}
.group { zoom: 1;}

/*=========================================
Base
=========================================== */

:root {
  font-size: 62.5%;
}

body {
 	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 1.6rem;
	line-height: 1.4; 
	font-weight:500;
	font-style: normal;
	color: #f1f1f1;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering:optimizeLegibility;
	background-color: #1b1b1b;
	padding: 60px 20px;
	max-width: 650px;
	margin: 0 auto;
}

a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,.2);
	-webkit-transition: color .2s cubic-bezier(.78,0,.174,1),border-color .2s cubic-bezier(.78,0,.174,1);
	transition: color .2s cubic-bezier(.78,0,.174,1),border-color .2s cubic-bezier(.78,0,.174,1);
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

ul li a {
  color: inherit;
  background: rgba(255, 255, 255, .2);
 display: -ms-flexbox;
 display: flex;
	border-bottom: none;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 text-decoration: none;
 border-radius: 8px;
 -webkit-transition: background-color .2s cubic-bezier(.78,0,.174,1),color .2s cubic-bezier(.78,0,.174,1),-webkit-transform .2s cubic-bezier(.5,.1,0,1.2);
 transition: background-color .2s cubic-bezier(.78,0,.174,1),color .2s cubic-bezier(.78,0,.174,1),-webkit-transform .2s cubic-bezier(.5,.1,0,1.2);
 transition: background-color .2s cubic-bezier(.78,0,.174,1),color .2s cubic-bezier(.78,0,.174,1),transform .2s cubic-bezier(.5,.1,0,1.2);
 transition: background-color .2s cubic-bezier(.78,0,.174,1),color .2s cubic-bezier(.78,0,.174,1),transform .2s cubic-bezier(.5,.1,0,1.2),-webkit-transform .2s cubic-bezier(.5,.1,0,1.2);
 padding: .8rem 1.8rem;
}

a[title="Quill.Chat"] {
	font-weight: 500;
}

a[title="Quill.Chat"]:hover {
	font-weight: 500;
	color: #944cf6;
	border-color: #944cf6;
}

a[title="Rewind.ai"]:hover {
	font-weight: 500;
	color: #812cf0;
	border-color: #812cf0;
}

a[title="Twitter-aquisition"]:hover {
	font-weight: 500;
	color: #1da1f2;
	border-color: #1da1f2;
}

a[title="Email"]:hover {
	color: #1b1b1b;
	background: rgba(255, 255, 255, 1) ;
}

a[title="Read.cv"]:hover {
	color: #1b1b1b;
	background: rgba(255, 255, 255, 1) ;
}

a[title="Twitter"]:hover {
	color: white;
	background: #1da1f2;
}

a[title="Mastodon"]:hover {
	color: white;
	background: #595aff;
}

a[title="Dribbble"]:hover {
	color: white;
	background: #ea4c89;
}

hr {
	width: 30%;
	display: inline-block;
	height: 1px;
	border-radius: 1px;
	border: 0;
	background-color: rgba(255,255,255,.1);
	margin-left: 0;
	margin-top: 4.0rem;
}

footer {
  margin-top: 4.0rem;
  margin-bottom: 4.0rem;
  opacity: .5;
}

/*=========================================
Typography
=========================================== */

h1 {
	margin: 1rem auto;
	font-size: 4.0rem;
	opacity: .9;
}

h2 {
	margin-bottom: 2rem;
	font-size: 3.2rem;
	opacity: .6;
}

p {
	font-size: 2.4rem;
	margin-top: 2.0rem;
	opacity: .9;

}

ul {
	margin-top: 3.0rem;
}

ul li a {
	font-size: 1.6rem;
}


footer {
	font-size: 1.6rem;
}

@media (prefers-color-scheme: light) {
	body {
		color: #0f0f0f;
		background-color: rgb(251, 251, 251);
	}
	
	ul li a {
	  background: rgba(0,0,0, .05);
	}
	
	hr {
		background-color: rgba(0,0,0,.1);
	}
	
	a[title="Email"]:hover, a[title="Read.cv"]:hover  {
		color: #f1f1f1;
		background: rgba(0,0,0, .5) ;
	}
	
	a[title="Quill.Chat"], a {
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	
	
	
	
}


@media screen and (max-width:450px) {
  body {
    padding: 30px 20px;
  }
  
  ul li {
  	display: block;
  }
  
  ul li a {
  	height: 50px;
  }
 
}
