/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:after { content: ""; display: table;} 
.group:after { clear: both;}
.group { zoom: 1;}

/*=========================================
Base
=========================================== */

body {
 	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	line-height: 1.2; 
	font-weight: 400;
	font-style: normal;
	color: #f1f1f1;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering:optimizeLegibility;
	background-color: #1b1b1b;
	padding: 60px 20px;
	max-width: 650px;
	margin: 0 auto;
}

a {
	color: inherit;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	
}

ul li a {
  color: inherit;
  opacity: .9;
  display: inline-block;
  height: 44px;
  width: 100%;
  line-height: 44px;
  background: inherit;
  transition: all .5s;
  border-radius: 5px;
 
}

a:hover {
	opacity: 1;
}

hr {
	width: 30%;
	display: inline-block;
	height: 1px;
	border-radius: 1px;
	border: 0;
	background: #f1f1f1;
	opacity: .9;
	margin-left: 0;
	margin-top: 40px;
}

footer {
  margin-top: 40px;
  opacity: .5;
}

/*=========================================
Typography
=========================================== */

h1 {
	margin: 0 auto;
	font-size: 34px;
	font-weight: 500;

}

p {
	margin-top: 20px;
	font-size: 20px;
	opacity: .9;
}

ul {
	margin-top: 30px;
}

ul li a {
	font-size: 20px;
}

ul a::after {
	content: " •";
}

ul a.medium::after {
	content: none;
}


footer {
	font-size: 15px;
}

span {
  font-weight: 400;
}


@media screen and (max-width:450px) {
  body {
    padding: 30px 20px;
  }
  
  ul li {
  	display: block;
  }
  
  ul a::after {
  	content: none;
  }
  
  ul a::before {
  	content: "• ";
  }
}
